.container {
  color: rgb(212, 133, 133);
}

.list-card-container {
   color: white;
  // display: grid;
  // grid-gap: 16px;
  // grid-template-columns: 1fr 1fr;
  // margin: 8px 8px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;

  &:hover {
    transition: all 160s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    color:#D0E37F;
    text-decoration: none;
  }

  &:hover:before {
    transform: scale(2);
  }

  a {
    color: white;
    text-decoration: none;
}
a:hover {
    color:#D0E37F;
    text-decoration: none;
  }

}
//   a {
//     color: white;
//     text-decoration: none;
//   &:hover {
//     color:#D0E37F;
//     text-decoration: none;
//   }


.card-container {
  color: white;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 8px 8px;

}

h2 {
    color: whitesmoke;
  }

  .main-list-card {
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  top: -1px;
  bottom: 1rem;
  align-self: flex-end;

  }

  .card-category-two {
  padding-top: 0;
  height: 300px;
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  // border-radius: 5px;

  }

  .list-cards {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  // margin-right: 8px;
  // margin-bottom: 12px;
  position: relative;
  margin: 12px 12px;

 .image {
  // height: 100%;
  // width: 200px;
  object-fit: cover;
}

 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #5D55FF
}
// rgba(84, 50, 205, 0.432)

  p {
  font-size: 12px;

  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:rgb(1, 19, 16)
}
  }

  // .another-card {
  //   justify-content: center;
  //   align-items: center;
  // }


.list-cards .card-bookmark-infos {
  padding: 16px;

}

.delete {
  position:absolute;
  top: 8px;
  right: 8px;
}

.text-in {
  text-decoration: none;
}


// .card-category {
//   display: block;
//   top: 0px;
//   position: relative;
//   max-width: 262px;
//   background-color: #f2f8f9;
//   border-radius: 4px;
//   padding: 32px 24px;
//   margin: 12px;
//   text-decoration: none;
//   z-index: 0;
//   overflow: hidden;
//   border: 1px solid #f2f8f9;

//   &:hover {
//     transition: all 0.2s ease-out;
//     box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
//     top: -4px;
//     border: 1px solid #cccccc;
//     background-color: white;
//   }

//   &:before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     top: -16px;
//     right: -16px;
//     background: #00838d;
//     height: 32px;
//     width: 32px;
//     border-radius: 32px;
//     transform: scale(2);
//     transform-origin: 50% 50%;
//     transition: transform 0.15s ease-out;
//   }

//   &:hover:before {
//     transform: scale(2.15);
//   }
// }
